@font-face {
  font-family: 'AvantGardeI';
  src: url('../fonts/AvantGardeITCTT.ttf') format('opentype');
}

@font-face {
  font-family: 'AvantGardeIBold';
  src: url('../fonts/AvantGardeITCTTBold.ttf') format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'AvantGardeI', Avenir, sans-serif;
  /*height: 100%;*/
  width: 100vw;
  margin: 0;
  font-size: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.front__logo {
  font-family: AvantGardeIBold, sans-serif;
  font-size: 15rem;
  padding: 0 0 10px 20px;
}

.front__logo__typing {
  padding: 0 0 0 30px;
}

.front__logo__typing__name {
  font-size: 10rem;
  font-weight: lighter;
}

.front__login {
  padding: 100% 10%;
}

.front__form {
  font-family: Avenir-light, sans-serif;
  padding: 12px 0;
  display: flex;
}

.front__form-underline {
  border-bottom: 1px solid #6f6f6f;
}

.front__login__title {
  font-size: 28px;
}

.front__join__in {
  font-size: 26px;
  text-decoration: none;
  color: #fe1313;
}

.front__form input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  width: 328px;
  font-family: Avenir, sans-serif;
}

.front__register {
  padding: 0 6%;
}

.front__register__navigation {
  padding: 6% 0;
  height: 200px;
}

.front__register__input {
  padding: 5% 0;
}

.front__register__next {
  padding: 5% 0;
  text-align: right;
}

.front__register__next__title {
  font-size: 3rem;
  text-decoration: none;
  color: #000;
  font-family: Avenir-book, sans-serif;
}

/* forms input */
.forms__input__container {
  display: flex;
  flex-direction: column;
  font-family: Avenir-light, sans-serif;
}

.forms__input__area {
  display: flex;
  align-items: flex-end;
}

.forms__input__container input {
  outline: none;
  min-width: 50px;
  max-width: 90%;
  height: 100%;

  padding-bottom: 5px;

  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.forms__input__border--invalid {
  border: none;
  border-bottom: 1px solid #4a4a4a;
}

.forms__input__border--valid {
  border: none;
  border-bottom: 1px solid #ff0000;
}

.forms__input__container input::placeholder {
  color: #9b9b9b;
}

.forms__input__container input:focus {
  width: 10px;
  caret-color: #ff0000;
}

.forms__input__dot--invalid {
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
}

.forms__input__dot--valid {
  border: 1px solid #ff0000;
  background-color: #ff0000;
}

.forms__input__message {
  margin-top: 10px;
  color: #4a4a4a;
}

/* register navigation */
.register__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__current__area {
  display: flex;
}

.navigation__step__area {
  display: flex;
  align-items: flex-end;
}

.navigation__current__idx {
  font-size: 40px;
}

.navigation__current__name {
  font-size: 100px;
}

.navigation__step__link,
.navigation__step__current {
  font-family: Avenir-book, Avenir-light, sans-serif;
  font-size: 40px;
  padding: 15px;
}

.navigation__step__link {
  color: #9b9b9b;
  text-decoration: none;
}

.navigation__step__link:hover {
  color: #ff0000;
}

.navigation__step__container {
  display: flex;
  flex-direction: column;
}

.navigation__step__current {
  color: #ff0000;
}

.navigation__step__current__dot {
  border: 1px solid #ff0000;
  width: 13px;
  font-size: 70px;
  height: 13px;
  display: block;
  border-radius: 13px;
  background: #ff0000;
  margin: 10px auto;

  transition: all 0.5s ease-in-out;
}
