@font-face {
  font-family: 'AvantGardeI';
  src: url('../fonts/AvantGardeITCTT.ttf') format('opentype');
}

@font-face {
  font-family: 'AvantGardeIBold';
  src: url('../fonts/AvantGardeITCTTBold.ttf') format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'AvantGardeI', Avenir, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.front__logo {
  font-family: AvantGardeIBold, sans-serif;
  font-size: 15rem;
  padding: 0 0 10px 20px;
}

.front__logo__typing {
  padding: 0 0 0 30px;
}

.front__logo__typing__name {
  font-size: 10rem;
  font-weight: lighter;
}

.front__login {
  padding: 100% 10%;
}

.front__social__btn {
  cursor: pointer;
  width: 100%;
  height: 43px;
  border-radius: 5px;
  font-size: 14px;
}

.front__social__btn.google {
  margin: 10px 0;
}

.google span {
  margin-left: 34px;
  font-size: 15px;
}

.front__social__btn.facebook {
  background: 2px/35px url('../img/facebook_logo.png') #4267b2 no-repeat;
  color: white;
  border: 1px solid #4267b2;
}

.front__form {
  font-family: Avenir-light, sans-serif;
  padding: 12px 0;
  display: flex;
}

.front__form-underline {
  border-bottom: 1px solid #6f6f6f;
}

.front__login__title {
  font-size: 28px;
}

.front__join__in {
  font-size: 26px;
  text-decoration: none;
  color: #fe1313;
}

.front__form input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  width: 328px;
  font-family: Avenir, sans-serif;
}

.front__register {
  padding: 0 6%;
}

.front__register__tag__container {
  display: flex;
  flex-wrap: wrap;
}

.front__register__tag__container .tag {
  position: relative;
  border: 1px solid #ff0000;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 30px;
  color: #ff0000;
  font-family: Avenir, sans-serif;
  margin: 5px 15px 5px 0;
  text-align: center;
}

.tag .tag__hover__area {
  background: rgba(155, 155, 155, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  padding: 10px;
}

.tag__hover__area button {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;
  width: 30px;
  font-size: 30px;
  color: white;
}

.front__register__navigation {
  padding: 6% 0;
  height: 200px;
}

.front__register__input {
  padding: 5% 0;
}

.front__register__next {
  padding: 5% 0;
  text-align: right;
}

.front__register__next__title {
  font-size: 40px;
  text-decoration: none;
  color: #000;
  font-family: Avenir-book, sans-serif;
}

/* forms input */
.forms__input__container {
  display: flex;
  flex-direction: column;
  font-family: Avenir-light, sans-serif;
}

.search__result__area {
  position: relative;
}

.search__result__list {
  width: 90%;
  position: absolute;
  padding: 15px 0;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  z-index: 100;
}

.search__result {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

.search__result.focus {
  background: rgba(0, 0, 0, 0.05);
}

.forms__input__area {
  display: flex;
  align-items: flex-end;
}

.forms__input__container input {
  outline: none;
  min-width: 50px;
  max-width: 90%;
  height: 100%;

  padding-bottom: 5px;

  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
}

.forms__input__border--invalid {
  border: none;
  border-bottom: 1px solid #4a4a4a;
}

.forms__input__border--valid {
  border: none;
  border-bottom: 1px solid #ff0000;
}

.forms__input__container input::placeholder {
  color: #9b9b9b;
}

.forms__input__container input:focus {
  width: 10px;
  caret-color: #ff0000;
}

.forms__input__dot--invalid {
  border: 1px solid #4a4a4a;
  background-color: #4a4a4a;
}

.forms__input__dot--valid {
  border: 1px solid #ff0000;
  background-color: #ff0000;
}

.forms__input__message {
  margin-top: 10px;
  color: #4a4a4a;
}

/* register navigation */
.register__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__current__area {
  display: flex;
}

.navigation__step__area {
  display: flex;
  align-items: flex-end;
}

.navigation__current__idx {
  font-size: 40px;
}

.navigation__current__name {
  font-size: 100px;
}

.navigation__step__link,
.navigation__step__current {
  font-family: Avenir-book, Avenir-light, sans-serif;
  font-size: 40px;
  padding: 15px;
}

.navigation__step__link {
  color: #9b9b9b;
  text-decoration: none;
}

.navigation__step__link:hover {
  color: #ff0000;
}

.navigation__step__container {
  display: flex;
  flex-direction: column;
}

.navigation__step__current {
  color: #ff0000;
}

.navigation__step__current__dot {
  border: 1px solid #ff0000;
  width: 13px;
  font-size: 70px;
  height: 13px;
  display: block;
  border-radius: 13px;
  background: #ff0000;
  margin: 10px auto;

  transition: all 0.5s ease-in-out;
}
