@font-face {
  font-family: 'AvantGardeI';
  src: url('../fonts/AvantGardeITCTT.ttf') format('opentype');
}

@font-face {
  font-family: 'AvantGardeIBold';
  src: url('../fonts/AvantGardeITCTTBold.ttf') format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'AvantGardeI', Avenir, sans-serif;
  /*height: 100%;*/
  width: 100vw;
  margin: 0;
  font-size: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.front__logo {
  font-family: AvantGardeIBold, sans-serif;
  font-size: 15rem;
  padding: 0 0 10px 20px;
}

.front__logo__typing {
  padding: 0 0 0 30px;
}

.front__logo__typing__name {
  font-size: 10rem;
}

.front__login {
  padding: 100% 60px;
}

.front__form {
  font-family: Avenir-light, sans-serif;
  padding: 12px 0;
  display: flex;
}

.front__form-underline {
  border-bottom: 1px solid #6f6f6f;
}

.front__login__title {
  font-size: 28px;
}

.front__join__in {
  font-size: 26px;
  text-decoration: none;
  color: #fe1313;
}

.front__form input {
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  width: 328px;
  font-family: Avenir, sans-serif;
}
